// Core variables and mixins
@import "../../bower_components/bootstrap/less/mixins.less";

// Reset
@import "../../bower_components/bootstrap/less/normalize.less";

@import "../../bower_components/bootstrap/less/utilities.less";

// // Core CSS
@import "../../bower_components/bootstrap/less/variables.less";
@import "../../bower_components/bootstrap/less/scaffolding.less";
@import "../../bower_components/bootstrap/less/type.less";
@import "../../bower_components/bootstrap/less/code.less";
@import "../../bower_components/bootstrap/less/grid.less";
@import "../../bower_components/bootstrap/less/tables.less";
@import "../../bower_components/bootstrap/less/forms.less";
@import "../../bower_components/bootstrap/less/buttons.less";

// Components
@import "../../bower_components/bootstrap/less/glyphicons.less";
@import "../../bower_components/bootstrap/less/input-groups.less";
@import "../../bower_components/bootstrap/less/pagination.less";


@import "directives/search.less";
@import "directives/pagination.less";
@import "directives/ngDialog.less";

.col-centered{
  float: none;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}