// Reset
@import "../../bower_components/bootstrap/less/normalize.less";

@import "../../bower_components/bootstrap/less/utilities.less";

// // Core CSS
@import "../../bower_components/bootstrap/less/variables.less";
@import "../../bower_components/bootstrap/less/scaffolding.less";
@import "../../bower_components/bootstrap/less/type.less";
@import "../../bower_components/bootstrap/less/code.less";
@import "../../bower_components/bootstrap/less/grid.less";
@import "../../bower_components/bootstrap/less/tables.less";
@import "../../bower_components/bootstrap/less/forms.less";
@import "../../bower_components/bootstrap/less/buttons.less";
@import "../../bower_components/bootstrap/less/mixins";

@import "../../bower_components/font-awesome/less/font-awesome.less";

// Components
@import "../../bower_components/bootstrap/less/glyphicons.less";
@import "../../bower_components/bootstrap/less/input-groups.less";
@import "../../bower_components/bootstrap/less/pagination.less";
@import "../../bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.less";

@import "colors.less";
@import "tables.less";

.col-centered{
  float: none;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

.cursor-pointer{
  cursor:pointer;
}

.btn{
  padding:10px 30px;
}

.radio, .checkbox{
  margin:0;
}

.sort{
  cursor: pointer;

  &:after {
    content :'\e150';
    display:inline-block;
    vertical-align:baseline;
    margin:0 0 0 10px;
    font-family:'Glyphicons Halflings';
    line-height:20px;
    font-size:12px;
    font-weight:400;
  }

  &.st-sort-ascent, &.st-sort-descent{
    background-color: #f9f9f9;
  }

  &.st-sort-ascent:after {
    content:'\e151';
  }

  &.st-sort-descent:after {
    content:'\e152';
  }
}

.cg-notify-message{position:fixed;top:0;z-index:9999;max-width:400px;text-align:center;background-color:#d9edf7;color:#31708f;padding:15px;border:1px solid #bce8f1;border-radius:4px;-webkit-transition:top .5s ease-out,opacity .2s ease-out;-moz-transition:top .5s ease-out,opacity .2s ease-out;-o-transition:top .5s ease-out,opacity .2s ease-out;transition:top .5s ease-out,opacity .2s ease-out;visibility:hidden;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}.cg-notify-message-center{left:50%}.cg-notify-message-left{left:15px}.cg-notify-message-right{right:15px}.cg-notify-message a{font-weight:700;color:inherit}.cg-notify-message a:hover{color:inherit}.cg-notify-close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0;font-size:21px;font-weight:700;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2;position:absolute;top:0;right:3px;line-height:15px}.cg-notify-close:focus,.cg-notify-close:hover{color:#000;text-decoration:none;cursor:pointer;filter:alpha(opacity=50);opacity:.5}.cg-notify-sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}

body{
  background:@lightblue; 
}

header{
  margin-bottom:20px;
  .row{
    background:@lightgray;
  }

  #logo{
    margin:0;
  }
}