<div class="container-fluid">
  <section st-table="rowCollection" st-safe-src="safe_data">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-left">
          <a ng-click="open_car()" class="btn btn-success">Novo Carro</a>
        </div>

        <div class="pull-right col-md-3">
          <div class="form-group">
            <div class="input-group">
              <input st-search class="form-control" placeholder="Pesquisar" type="text"/>
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th st-sort="firstName">first name</th>
              <th st-sort="lastName">Placa</th>
              <th st-sort="birthDate">Modelo</th>
              <th st-sort="balance">Marca</th>
              <th st-sort="balance">Foto</th>
              <th st-sort="balance">Combustível</th>
              <th st-sort="balance">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-click="open_car(car)" ng-repeat="car in rowCollection">
              <td></td>
              <td>{{car.placa}}</td>
              <td>{{car.modelo}}</td>
              <td>{{car.marca}}</td>
              <td>
                <a ng-if="car.imagem" ng-click="open_image(car.imagem)">Imagem
                </a>
              </td>
              <td>{{car.combustivel}}</td>
              <td>{{car.valor}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </section>
</div>