<div class="container-fluid">
  <section st-table="rowCollection" st-safe-src="safe_data">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-left">
          <a ng-click="open_car()" class="btn btn-success">Novo Carro</a>
          <a ng-click="delete()" ng-if="selected_cars.length > 0" class="btn btn-danger">Excluir {{selected_cars.length}} carros selecionados</a>
        </div>

        <div class="pull-right col-md-3">
          <div class="form-group">
            <div class="input-group">
              <input st-search class="form-control" placeholder="Pesquisar" type="text"/>
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                <input type="checkbox" ng-model="selected_all" ng-click="check_all()">
              </th>
              <th st-sort="placa">Placa</th>
              <th st-sort="modelo">Modelo</th>
              <th st-sort="marca">Marca</th>
              <th st-sort="imagem">Foto</th>
              <th st-sort="combustivel">Combustível</th>
              <th st-sort="valor">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-click="open_car(car)" ng-repeat="car in rowCollection">
              <td>
                <input type="checkbox" ng-model="car.is_selected" ng-change="handle_selected_cars(car, true)" ng-click="$event.stopPropagation();">
              </td>
              <td>{{car.placa}}</td>
              <td>{{car.modelo}}</td>
              <td>{{car.marca}}</td>
              <td>
                <a ng-if="car.imagem" ng-click="open_image(car.imagem); $event.stopPropagation();">Imagem
                </a>
                <span ng-if="!car.imagem">Sem imagem</span>
              </td>
              <td>{{car.combustivel}}</td>
              <td>{{car.valor}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7" class="text-center">
                <div st-template="/partials/directives/pagination.html" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </section>
</div>