<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form name="carForm" ng-submit="submit()">
        <header>
          <h2>Novo carro</h2>
        </header>
        <div class="form-group">
          <label for="old_password" class="col-md-16 control-label">Senha atual*</label>
          <div>
            <input id="old_password" ng-model="data.old_password" name="old_password" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" type="password" required="" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 text-center">
            <button type="submit" ng-disabled="carForm.$invalid" class="btn btn-success">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>