<div id="pagination" ng-if="pages.length >= 2">
  <ul class="pagination">
    <li ng-if="currentPage > 1">
      <a class="arrow" ng-click="selectPage(1)">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </li>
    <li ng-repeat="page in pages" ng-class="{active: page==currentPage}">
      <a ng-click="selectPage(page)">{{page}}</a>
    </li>
    <li ng-if="currentPage < numPages">
      <a class="arrow" ng-click="selectPage(numPages)">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </li>
  </ul>
</div>
